{%- if include.title -%}
<div class="uk-container uk-margin-medium-bottom">
  <hr class="uk-margin-remove">
  <h2 class="section-title uk-text-center uk-margin">
    <a href="/contributors">{{- include.title -}}</a>
  </h2>
  <hr class="uk-margin-remove">
</div>
{%- endif -%}

<div class="uk-container uk-margin-medium-bottom uk-text-center">
  <div class="uk-child-width-1-3@s uk-child-width-1-6@l uk-grid-medium uk-flex-center uk-grid-divider" data-uk-grid>
    {% for author in site.authors %}
    {% include content-author.html %}
    {% endfor %}
  </div>
</div>